/*
Theme Name: GruposPET - Nacional
Template: onepress
Theme URI: https://github.com/kaiomudkt/wp-template-child-sitePET-nacional
Author: Kaio Mitsuharu Lino Aida
Author URI: https://github.com/kaiomudkt
Description: Tema desenvolvido para o programa de educação tutorial
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: 
Text Domain: 
*/

/*
todos os estilos do arquivo  de estilo-filho, vai ser prioridade 
e dos estilos css/estilo2.css tb vao ser prioridade encima do estilo pai,
quando o tema pai for atualizado, somente as mundacas feitas no tema pai serao perdidas, 
e as mundacas feitas no tema filho "GruposPET" nao sera perdida.
*/

h2{
	font-family: cursive;
}
#mapa_pets_brasil{
	background: linear-gradient(to right, #00a69b , #002ba6);
	overflow: hidden;
	
}

#mapa_brasil{
	/*background-color: red;*/
	padding: 20px;
	float: left;
	width: 500px;
	margin-left: 200px;
}

#lista_pet_estado{
	text-align: center;
	margin-top: 100px;
	margin-right: 300px;
	background-color: red;
	float: right;
	overflow: auto;/*configurar melhor esse scroll*/
	box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
	height: 20px;
}

#lista_pet_estado ul li{
	color: white;
	background-color:white;
}

.light_header #navy > li > a,
.light_header #navy > li > .slicknav_row > a {
    color: #fff;

}

.light_header #navy > li > a,
.light_header #navy > li > .slicknav_row > a {
    color: #484848;

}

.div_map_svg{
	width: 20px;
	background-color: yellow;
}

.negrito{
	font-weight: 900;
}

.estouro{
	overflow: scroll;
	height: 350px;
	width: 800px;
}

.centro{
	
}


.imagem-thumbnail {
    width: 190px;
    height: 100px;
    background-position: center;
    background-size: cover;
}

.caixa-flex{
	display: flex;
}

.texto-centralizado{
	text-align: center;
}